name: StoreCheck
on:
    push:
        branches:
            - master
        tags:
            - '*'

env:
    PLUGIN_NAME: FroshProductCompare
    ACCOUNT_USER: ${{ secrets.ACCOUNT_USER }}
    ACCOUNT_PASSWORD: ${{ secrets.ACCOUNT_PASSWORD }}
    PLUGIN_UPLOADER_VERSION: 0.3.2

jobs:
    build-plugin:
        runs-on: ubuntu-latest
        container: ghcr.io/friendsofshopware/platform-plugin-dev:v6.3.1
        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Build plugin
                run: |
                    ln -s "$(pwd)" "/plugins/${PLUGIN_NAME}"
                    start-mysql
                    pack-plugin "${PLUGIN_NAME}"

            -   name: Create artifact for plugin ZIP
                uses: actions/upload-artifact@v1
                with:
                    path: ${{ env.PLUGIN_NAME }}.zip
                    name: ${{ env.PLUGIN_NAME }}.zip

    validate-plugin:
        if: startsWith(github.ref, 'refs/tags/') != true
        needs: build-plugin
        runs-on: ubuntu-latest
        steps:
            -   name: Download prebuild plugin zip file
                uses: actions/download-artifact@v2
                with:
                    name: ${{ env.PLUGIN_NAME }}.zip

            -   name: Validate Zip
                run: |
                    wget 'https://github.com/FriendsOfShopware/FroshPluginUploader/releases/download/${{ env.PLUGIN_UPLOADER_VERSION }}/frosh-plugin-upload.phar' -O frosh-plugin-upload.phar
                    php frosh-plugin-upload.phar ext:validate $(pwd)/${PLUGIN_NAME}.zip

    StoreUpdate:
        needs: [build-plugin, validate-plugin]
        if: startsWith(github.ref, 'refs/tags/') != true
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v2.3.1
                with:
                    path: ${{ env.PLUGIN_NAME }}

            -   name: getPluginUploader
                run: wget 'https://github.com/FriendsOfShopware/FroshPluginUploader/releases/download/${{ env.PLUGIN_UPLOADER_VERSION }}/frosh-plugin-upload.phar' -O frosh-plugin-upload.phar

            -   name: StoreUpdate
                run: php frosh-plugin-upload.phar ext:update $(pwd)/${{ env.PLUGIN_NAME }}/

    StoreRelease:
        needs: [build-plugin, validate-plugin]
        if: startsWith(github.ref, 'refs/tags/')
        runs-on: ubuntu-latest
        steps:
            -   name: Get the version
                id: get_version
                run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

            -   name: Download prebuild plugin zip file
                uses: actions/download-artifact@v2
                with:
                    name: ${{ env.PLUGIN_NAME }}.zip

            -   name: StoreUpload
                run: |
                    wget 'https://github.com/FriendsOfShopware/FroshPluginUploader/releases/download/${{ env.PLUGIN_UPLOADER_VERSION }}/frosh-plugin-upload.phar' -O frosh-plugin-upload.phar
                    php frosh-plugin-upload.phar ext:upload $(pwd)/${PLUGIN_NAME}.zip

            -   name: Create Release
                id: create_release
                uses: actions/create-release@v1.0.0
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    tag_name: ${{ steps.get_version.outputs.VERSION }}
                    release_name: ${{ steps.get_version.outputs.VERSION }}
                    draft: false
                    prerelease: false

            -   name: Upload Release Asset
                id: upload_release_asset
                uses: actions/upload-release-asset@v1.0.2
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                with:
                    upload_url: ${{ steps.create_release.outputs.upload_url }}
                    asset_path: ${{ github.workspace }}/${{ env.PLUGIN_NAME }}.zip
                    asset_name: ${{ env.PLUGIN_NAME }}.zip
                    asset_content_type: application/zip
